<div class="search-container search-true">
    <form class="search-form" method="get" action="//imgur.com/search" >
        <input autocomplete="on" type="text" class="search" name="q" placeholder="Search" value="">
        <div class="search-icon-container">
            <div class="search-icon-container-icon">
            </div>
        </div>
    </form>
    <div class="global-search-autocomplete">
    <div class="global-search-footer">
        <div>
            <div class="footer-label">search syntax</div>
            <div class="footer-content">
                <div class="keyword">title:</div>
                <div class="keyword-desc">titles only</div>
                <div class="keyword">tag:</div>
                <div class="keyword-desc">images of a tag</div>
                <div class="keyword nextline">user:</div>
                <div class="keyword-desc">find a user</div>
                <div class="keyword">ext:</div>
                <div class="keyword-desc">image extension</div>
            </div>
        </div>
    </div>
</div>
</div>