<div class="global-search-autocomplete">
    <div class="global-search-footer">
        <div data-reactid=".3.1.1.0">
        <div class="footer-label">search syntax</div>
        <div class="footer-content">
            <div class="keyword">title:</div>
            <div class="keyword-desc">titles only</div>
            <div class="keyword">tag:</div>
            <div class="keyword-desc">images of a tag</div>
            <div class="keyword nextline">user:</div>
            <div class="keyword-desc">find a user</div>
            <div class="keyword">ext:</div>
            <div class="keyword-desc">image extension</div>
        </div>
    </div>
</div>
</div>