 <div class="signin-dropdown">
    <iframe id="signin-iframe" src="https://imgur.com/include/signin-iframe.html" width="234" height="192"></iframe>
    <div class="other-accounts">
        <span class="tiptext">Use another account</span>
        <ul>
            <li>
                <a href="https://imgur.com/signin/google">
                    Google
                    <span class="signin-icon google"></span>d
                </a>
            </li>
            <li><a href="https://imgur.com/signin/facebook">
                Facebook
                <span class="signin-icon facebook"></span>
            </a>
        </li>
        <li>
            <a href="https://imgur.com/signin/twitter">
                Twitter
                <span class="signin-icon twitter"></span>
            </a>
        </li>
        <li>
            <a href="https://imgur.com/signin/yahoo">
                Yahoo
                <span class="signin-icon yahoo"></span>
            </a>
        </li>
    </ul>
</div>
</div>