<div class="row">
    <header id="header">
        <h1 class="main-title col-xs-9 col-xs-offset-2 col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4">
            <img class="angular-badge" src="http://d21ii91i3y6o6h.cloudfront.net/gallery_images/from_proof/1663/large/1405955558/angular-js-badge-stickers.png" alt="">
            todos
        </h1>
        
        <form name="newTodoForm" ng-submit="addTodo(newTodoForm)" class="newTodo col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <input class="col-xs-12 col-sm-12 col-md-12" name="title" id="new-todo" placeholder="Want needs to be done?" type="text" autofocus ng-model="todo.title" required>
            <p ng-show="newTodoForm.title.$invalid && !newTodoForm.title.$pristine" class="help-block col-xs-10 col-xs-offset-2 col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4">You name is required.</p>
        </form>
    </header>
</div>